@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&family=Sawarabi+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Pathway+Gothic+One&display=swap');

.navbar-brand, h1, h2, h3, h4 {
	font-family : 'Sawarabi Gothic';
}
h5 {
	font-family : 'Sawarabi Gothic';
	font-size : 18px;
}
body {
	font-family : 'Nanum Gothic';
}